.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 10rem;
  padding-bottom: 27rem;
}

.signin-header {
    display: flex;
    color: white;
    flex-direction: row;
}

.login-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
