/*
.message-box {
    position: absolute;
    bottom: 0;
    margin: 0 0 1rem 0;
    width: 100%;
    padding: 0;
}
*/

.message-input {
    background-color: white;
    border-radius: .3rem;
    width: 100%;
    min-height: 3rem;
    padding:0;
}

.textfield-container {
    margin: auto 0;
}
